<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="admin_system_config_changed_section_klevu_developer">
        <observer name="Klevu_IndexingProductsExcludeByVisibility_adminSystemConfig_updateProductVisibilitySyncSettings"
                  instance="Klevu\IndexingProductsExcludeByVisibility\Observer\Admin\System\Config\UpdateProductSyncSettingsObserver" />
    </event>

</config>
